.title {
  font-family: monospace;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  color: #ddd;
}

.background {
  /*filter: sepia(0.5) grayscale(0.5);*/
  background: grey;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#search_bar {
  background: transparent;
  font-size: 2em;
  text-align: center;
  color: #fff;
  padding: 6px 0;
  display: block;
  width: 100%;
  border: none;
  padding: 15px 0;
}

#search_container {
  opacity: 0.4;
  width: 100%;
  background-color: #222;
  border: 2px solid;
  border-color: #fafafa;
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.list-grey {
  background-color: rgba(32,32,32,0.2);
}

a {
  text-decoration: none !important;
  color: #fafafa !important;
  text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666;
}
.list-group-item {
  background-color: transparent !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #a2a2a2;
  opacity: 0.8;
  font-size: small;
}

.hcenter{
  text-align: center;
}

.quote {
  font-size: xx-large;
  color: #f2f2f2;
  font-style: italic;
}